*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
     font-family: "Audiowide", sans-serif;
  
}
body{
   background-color: black;
}
#canvas1{
  
   position: absolute;
   top: 50%;
   left: 50%;
   translate: -50% -50%;
   background: url(assets/images/grass_night.png);
   max-height: 100%;
   min-width: 100%;
}
#canvas2{
  
   position: absolute;
   top: 50%;
   left: 50%;
   translate: -50% -50%;
 
   max-height: 100%;
   min-width: 100%;
   pointer-events: none;
}
.assets{
   display: none;
}
#controls{
   position: absolute;
   top: 5px;
   left: 50%;
   translate: -50% 0;
   padding: 8px;
   background: rgba(0, 0, 0, 0.514);
   color: white;
   font: 15px Audiowide;
}
#buttons{
   width: 300px;
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
}
#buttons button{
   width: 65px;
  background-color: rgba(0, 0, 0, 0.836);
  color: white;
}
#scoreScreen{
   padding: 5px;
   display: flex;
   justify-content: space-between;
   column-gap: 10px;
   width: 300px;
   margin: 0 auto;
  
}
#playerChoice{
   padding: 3px 6px;
}
.playerLabel{
   font-size: 16px;
   margin-top: 6px;
}
#gameMenu{
   display: block;
   padding-top: 8px;
   text-align: center;
}
#playerChoice{
   padding: 12px 0;
}
#playerChoice > div{
  
   padding: 10px 5px;
}
#gameOverScreen{
   background: url('assets/images/gameOver_forest.png');
   background-repeat: no-repeat;
   background-size: cover;
   position: absolute;
   width: 100%;
   height: 100%;
}
#message1{
   font-size: 30px;
   text-align: center;
}
#message2{
   font-size: 20px;
   text-align: center;
}